@import "https://use.typekit.net/tar7esj.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-title: "fayte-pixel-hard", sans-serif;
  --font-body: "space-grotesk-variable", sans-serif;
  --color-bg: #121212;
  --color-text: #dedede;
  --color-link: #007bff;
  --font-size-h1: 6rem;
  --font-size-h2: 2rem;
  --font-size-h3: 2.5rem;
  --font-size: 1.5rem;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.64;
}

h1 {
  font-family: var(--font-title);
  font-weight: 100;
}

h1 { font-size: var(--font-size-h1); }

main {
  max-width: 960px;
  margin: 0 auto;
  width: 80%;
  
}