@import "https://use.typekit.net/tar7esj.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-title: "fayte-pixel-hard", sans-serif;
  --font-body: "space-grotesk-variable", sans-serif;
  --color-bg: #121212;
  --color-text: #dedede;
  --color-link: #007bff;  
  --green: #198f56;
  --orange: #ffbf19;
  --red: #f0577c;
  --pink: #ef70d3;
  --white: #fbfbfb;
  --font-size-h1: 20vw;
  --font-size-h2: 2rem;
  --font-size-h3: 2.5rem;
  --font-size: 1.5rem;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.64;
}

h1, h2, h3 {
  font-family: var(--font-title);
  font-weight: 100;
}

h1 {
  font-size: var(--font-size-h1);
  margin: 0;
}

main {
  max-width: 960px;
  margin: 0 auto;
  width: 80%;
}

.hero {
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: none;
}

.hero img {
  width: 90%;
  max-width: 340px;
  margin: 0 auto;
}

.hero h1 + p {
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}